.container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

#checkmark_for_winner{
    color: lawngreen;
    font-size: 105px;
}

#x_for_loser{
    color: red;
    font-size: 105px;
}

.hidden_image {
    visibility: hidden;
}